workflows/Dispatch-Dashboard---Ticket-Sync.json
{"updatedAt":"2026-03-21T11:55:15.859Z","createdAt":"2026-03-08T12:19:28.891Z","id":"heUxpzPiV2FopIJy","name":"Dispatch Dashboard - Ticket Sync","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1408,112],"id":"schedule","name":"Every 15 Minutes"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1408,304],"id":"manual","name":"Manual Trigger"},{"parameters":{"path":"dispatch-sync","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,496],"id":"webhook","name":"Webhook Trigger","webhookId":"dispatch-sync"},{"parameters":{"jsCode":"const now = new Date();\n// For \"today\" queries, use ET midnight converted to UTC\n// ET is UTC-5 (EST) or UTC-4 (EDT). Use -5 as safe default.\nconst etOffsetMs = 5 * 3600000;\nconst utcNow = now.getTime();\n// ET midnight today = UTC 05:00 today\nconst etMidnight = new Date(now.getFullYear(), now.getMonth(), now.getDate());\nconst todayStartUTC = new Date(etMidnight.getTime() + etOffsetMs);\n// For 14d query, go 15 days back to capture UTC/ET boundary overlap\nconst d15 = new Date(todayStartUTC.getTime() - 15 * 86400000);\nreturn [{ json: { todayStart: todayStartUTC.toISOString(), d14Start: d15.toISOString(), nowISO: now.toISOString() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,304],"id":"dates","name":"Set Date Ranges"},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"closedFlag=false"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,304],"id":"n1","name":"Get Open Tickets","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'dateEntered>=[' + $('Set Date Ranges').item.json.todayStart + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,304],"id":"n2","name":"Get Opened Today","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').item.json.todayStart + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,304],"id":"n3","name":"Get Closed Today","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'dateEntered>=[' + $('Set Date Ranges').item.json.d14Start + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,304],"id":"n4","name":"Get 14d Opened","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').item.json.d14Start + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,304],"id":"n5","name":"Get 14d Closed","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"jsCode":"// Get tickets with configurations from Aggregate Configs\nconst configResult = $('Aggregate Configs').first().json;\nconst ticketsWithConfig = new Set(configResult.ticketsWithConfig || []);\n\nconst openTickets = $('Get Open Tickets').all();\nconst openedToday = $('Get Opened Today').all();\nconst closedToday = $('Get Closed Today').all();\nconst opened14d = $('Get 14d Opened').all();\nconst closed14d = $('Get 14d Closed').all();\n\nconst esc = (s) => (s || '').replace(/'/g, \"''\").replace(/\\\\/g, '');\n\nfunction ticketToRow(t, forceClosedFlag) {\n  return {\n    ticket_id: t.id,\n    summary: esc(t.summary),\n    company_name: esc(t.company?.name),\n    board_name: esc(t.board?.name),\n    status_name: esc(t.status?.name),\n    priority_name: esc(t.priority?.name),\n    priority_id: t.priority?.id || 0,\n    assigned_to: esc(t.owner?.name),\n    date_entered: t._info?.dateEntered || null,\n    closed_flag: forceClosedFlag !== undefined ? forceClosedFlag : (t.closedFlag || false),\n    closed_date: t.closedDate || null,\n    config_name: ticketsWithConfig.has(t.id) ? 'yes' : '',\n    last_updated: t._info?.lastUpdated || null\n  };\n}\n\n// Build rows: open tickets + opened today + closed today (dedup by ticket_id)\nconst seen = new Set();\nconst rows = [];\n\nfor (const item of openTickets) {\n  if (!item.json.id) continue;\n  seen.add(item.json.id);\n  rows.push(ticketToRow(item.json));\n}\n\n// Add opened-today tickets not already in open list (might be already closed)\nfor (const item of openedToday) {\n  if (!item.json.id || seen.has(item.json.id)) continue;\n  seen.add(item.json.id);\n  rows.push(ticketToRow(item.json));\n}\n\n// Add closed-today tickets\nfor (const item of closedToday) {\n  if (!item.json.id || seen.has(item.json.id)) continue;\n  seen.add(item.json.id);\n  rows.push(ticketToRow(item.json, true));\n}\n\n// Daily counts from 14d data\nconst dayCounts = {};\nfor (const item of opened14d) {\n  const de = item.json._info?.dateEntered;\n  if (!de) continue;\n  const dt = new Date(de);\n  // EST offset: -5h (close enough, DST edge cases off by 1h)\n  const etDate = new Date(dt.getTime() - 5 * 3600000);\n  const d = etDate.toISOString().substring(0, 10);\n  if (!dayCounts[d]) dayCounts[d] = { opened: 0, closed: 0 };\n  dayCounts[d].opened++;\n}\nfor (const item of closed14d) {\n  const cd = item.json.closedDate;\n  if (!cd) continue;\n  const cdt = new Date(cd);\n  const etCDate = new Date(cdt.getTime() - 5 * 3600000);\n  const d = etCDate.toISOString().substring(0, 10);\n  if (!dayCounts[d]) dayCounts[d] = { opened: 0, closed: 0 };\n  dayCounts[d].closed++;\n}\n\nlet sql = 'DELETE FROM dispatch_tickets;\\n';\n\nif (rows.length > 0) {\n  sql += 'INSERT INTO dispatch_tickets (ticket_id, summary, company_name, board_name, status_name, priority_name, priority_id, assigned_to, date_entered, closed_flag, closed_date, config_name, last_updated) VALUES\\n';\n  const vr = rows.map(r => {\n    const de = r.date_entered ? \"'\" + r.date_entered + \"'\" : 'NULL';\n    const cd = r.closed_date ? \"'\" + r.closed_date + \"'\" : 'NULL';\n    const lu = r.last_updated ? \"'\" + r.last_updated + \"'\" : 'NULL';\n    return `(${r.ticket_id}, '${r.summary}', '${r.company_name}', '${r.board_name}', '${r.status_name}', '${r.priority_name}', ${r.priority_id}, '${r.assigned_to}', ${de}, ${r.closed_flag}, ${cd}, '${r.config_name}', ${lu})`;\n  });\n  sql += vr.join(',\\n') + ';\\n';\n}\n\nfor (const [date, counts] of Object.entries(dayCounts)) {\n  sql += `INSERT INTO dispatch_daily_counts (count_date, opened_count, closed_count) VALUES ('${date}', ${counts.opened}, ${counts.closed}) ON CONFLICT (count_date) DO UPDATE SET opened_count = EXCLUDED.opened_count, closed_count = EXCLUDED.closed_count, captured_at = NOW();\\n`;\n}\n\nreturn [{ json: { sql, ticketCount: rows.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,304],"id":"build-sql","name":"Build SQL"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1056,304],"id":"write-pg","name":"Write to Postgres","credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $('Get Open Tickets').all();\nreturn items.filter(i => i.json.id).map(i => ({ json: { ticketId: i.json.id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,304],"id":"extract-ids","name":"Extract IDs"},{"parameters":{"url":"={{ 'https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets/' + $json.ticketId + '/configurations' }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,304],"id":"check-config-http","name":"Get Ticket Configs","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"jsCode":"const items = $('Get Ticket Configs').all();\nconst hasConfig = new Set();\nfor (let i = 0; i < items.length; i++) {\n  const ticketId = $('Extract IDs').all()[i]?.json?.ticketId;\n  const configs = items[i].json;\n  // If response is an array with items, ticket has config\n  if (Array.isArray(configs) && configs.length > 0) {\n    hasConfig.add(ticketId);\n  } else if (configs && typeof configs === 'object' && !Array.isArray(configs)) {\n    // Single config object\n    if (configs.id) hasConfig.add(ticketId);\n  }\n}\nreturn [{ json: { ticketsWithConfig: Array.from(hasConfig), count: hasConfig.size } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,304],"id":"aggregate-configs","name":"Aggregate Configs"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Set Date Ranges":{"main":[[{"node":"Get Open Tickets","type":"main","index":0}]]},"Get Open Tickets":{"main":[[{"node":"Get Opened Today","type":"main","index":0}]]},"Get Opened Today":{"main":[[{"node":"Get Closed Today","type":"main","index":0}]]},"Get Closed Today":{"main":[[{"node":"Get 14d Opened","type":"main","index":0}]]},"Get 14d Opened":{"main":[[{"node":"Get 14d Closed","type":"main","index":0}]]},"Get 14d Closed":{"main":[[{"node":"Extract IDs","type":"main","index":0}]]},"Build SQL":{"main":[[{"node":"Write to Postgres","type":"main","index":0}]]},"Extract IDs":{"main":[[{"node":"Get Ticket Configs","type":"main","index":0}]]},"Get Ticket Configs":{"main":[[{"node":"Aggregate Configs","type":"main","index":0}]]},"Aggregate Configs":{"main":[[{"node":"Build SQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 15 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"449c4e89-b3b3-43c6-b68b-12f71aba7660","activeVersionId":"27576cc5-928c-4f6f-b9a6-0f00fe7294f8","versionCounter":10,"triggerCount":2,"shared":[{"updatedAt":"2026-03-08T12:19:28.894Z","createdAt":"2026-03-08T12:19:28.894Z","role":"workflow:owner","workflowId":"heUxpzPiV2FopIJy","projectId":"MEXLsivp2gOvqnSI","project":{"updatedAt":"2025-10-30T16:16:34.776Z","createdAt":"2025-10-30T16:14:15.739Z","id":"MEXLsivp2gOvqnSI","name":"Wayne LeDrew <wledrew@pund-it.ca>","type":"personal","icon":null,"description":null,"creatorId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-08T12:19:28.897Z","createdAt":"2026-03-08T12:19:28.897Z","versionId":"27576cc5-928c-4f6f-b9a6-0f00fe7294f8","workflowId":"heUxpzPiV2FopIJy","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1400,100],"id":"schedule","name":"Every 15 Minutes"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,300],"id":"manual","name":"Manual Trigger"},{"parameters":{"path":"dispatch-sync","httpMethod":"GET","responseMode":"onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1400,500],"id":"webhook","name":"Webhook Trigger","webhookId":"dispatch-sync"},{"parameters":{"jsCode":"const now = new Date();\n// For \"today\" queries, use ET midnight converted to UTC\n// ET is UTC-5 (EST) or UTC-4 (EDT). Use -5 as safe default.\nconst etOffsetMs = 5 * 3600000;\nconst utcNow = now.getTime();\n// ET midnight today = UTC 05:00 today\nconst etMidnight = new Date(now.getFullYear(), now.getMonth(), now.getDate());\nconst todayStartUTC = new Date(etMidnight.getTime() + etOffsetMs);\n// For 14d query, go 15 days back to capture UTC/ET boundary overlap\nconst d15 = new Date(todayStartUTC.getTime() - 15 * 86400000);\nreturn [{ json: { todayStart: todayStartUTC.toISOString(), d14Start: d15.toISOString(), nowISO: now.toISOString() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1100,100],"id":"dates","name":"Set Date Ranges"},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"closedFlag=false"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,100],"id":"n1","name":"Get Open Tickets","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'dateEntered>=[' + $('Set Date Ranges').item.json.todayStart + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,100],"id":"n2","name":"Get Opened Today","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').item.json.todayStart + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,100],"id":"n3","name":"Get Closed Today","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'dateEntered>=[' + $('Set Date Ranges').item.json.d14Start + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,100],"id":"n4","name":"Get 14d Opened","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').item.json.d14Start + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,100],"id":"n5","name":"Get 14d Closed","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"jsCode":"// Get tickets with configurations from Aggregate Configs\nconst configResult = $('Aggregate Configs').first().json;\nconst ticketsWithConfig = new Set(configResult.ticketsWithConfig || []);\n\nconst openTickets = $('Get Open Tickets').all();\nconst openedToday = $('Get Opened Today').all();\nconst closedToday = $('Get Closed Today').all();\nconst opened14d = $('Get 14d Opened').all();\nconst closed14d = $('Get 14d Closed').all();\n\nconst esc = (s) => (s || '').replace(/'/g, \"''\").replace(/\\\\/g, '');\n\nfunction ticketToRow(t, forceClosedFlag) {\n  return {\n    ticket_id: t.id,\n    summary: esc(t.summary),\n    company_name: esc(t.company?.name),\n    board_name: esc(t.board?.name),\n    status_name: esc(t.status?.name),\n    priority_name: esc(t.priority?.name),\n    priority_id: t.priority?.id || 0,\n    assigned_to: esc(t.owner?.name),\n    date_entered: t._info?.dateEntered || null,\n    closed_flag: forceClosedFlag !== undefined ? forceClosedFlag : (t.closedFlag || false),\n    closed_date: t.closedDate || null,\n    config_name: ticketsWithConfig.has(t.id) ? 'yes' : '',\n    last_updated: t._info?.lastUpdated || null\n  };\n}\n\n// Build rows: open tickets + opened today + closed today (dedup by ticket_id)\nconst seen = new Set();\nconst rows = [];\n\nfor (const item of openTickets) {\n  if (!item.json.id) continue;\n  seen.add(item.json.id);\n  rows.push(ticketToRow(item.json));\n}\n\n// Add opened-today tickets not already in open list (might be already closed)\nfor (const item of openedToday) {\n  if (!item.json.id || seen.has(item.json.id)) continue;\n  seen.add(item.json.id);\n  rows.push(ticketToRow(item.json));\n}\n\n// Add closed-today tickets\nfor (const item of closedToday) {\n  if (!item.json.id || seen.has(item.json.id)) continue;\n  seen.add(item.json.id);\n  rows.push(ticketToRow(item.json, true));\n}\n\n// Daily counts from 14d data\nconst dayCounts = {};\nfor (const item of opened14d) {\n  const de = item.json._info?.dateEntered;\n  if (!de) continue;\n  const dt = new Date(de);\n  // EST offset: -5h (close enough, DST edge cases off by 1h)\n  const etDate = new Date(dt.getTime() - 5 * 3600000);\n  const d = etDate.toISOString().substring(0, 10);\n  if (!dayCounts[d]) dayCounts[d] = { opened: 0, closed: 0 };\n  dayCounts[d].opened++;\n}\nfor (const item of closed14d) {\n  const cd = item.json.closedDate;\n  if (!cd) continue;\n  const cdt = new Date(cd);\n  const etCDate = new Date(cdt.getTime() - 5 * 3600000);\n  const d = etCDate.toISOString().substring(0, 10);\n  if (!dayCounts[d]) dayCounts[d] = { opened: 0, closed: 0 };\n  dayCounts[d].closed++;\n}\n\nlet sql = 'DELETE FROM dispatch_tickets;\\n';\n\nif (rows.length > 0) {\n  sql += 'INSERT INTO dispatch_tickets (ticket_id, summary, company_name, board_name, status_name, priority_name, priority_id, assigned_to, date_entered, closed_flag, closed_date, config_name, last_updated) VALUES\\n';\n  const vr = rows.map(r => {\n    const de = r.date_entered ? \"'\" + r.date_entered + \"'\" : 'NULL';\n    const cd = r.closed_date ? \"'\" + r.closed_date + \"'\" : 'NULL';\n    const lu = r.last_updated ? \"'\" + r.last_updated + \"'\" : 'NULL';\n    return `(${r.ticket_id}, '${r.summary}', '${r.company_name}', '${r.board_name}', '${r.status_name}', '${r.priority_name}', ${r.priority_id}, '${r.assigned_to}', ${de}, ${r.closed_flag}, ${cd}, '${r.config_name}', ${lu})`;\n  });\n  sql += vr.join(',\\n') + ';\\n';\n}\n\nfor (const [date, counts] of Object.entries(dayCounts)) {\n  sql += `INSERT INTO dispatch_daily_counts (count_date, opened_count, closed_count) VALUES ('${date}', ${counts.opened}, ${counts.closed}) ON CONFLICT (count_date) DO UPDATE SET opened_count = EXCLUDED.opened_count, closed_count = EXCLUDED.closed_count, captured_at = NOW();\\n`;\n}\n\nreturn [{ json: { sql, ticketCount: rows.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,100],"id":"build-sql","name":"Build SQL"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1000,100],"id":"write-pg","name":"Write to Postgres","credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $('Get Open Tickets').all();\nreturn items.filter(i => i.json.id).map(i => ({ json: { ticketId: i.json.id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300],"id":"extract-ids","name":"Extract IDs"},{"parameters":{"url":"={{ 'https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets/' + $json.ticketId + '/configurations' }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,300],"id":"check-config-http","name":"Get Ticket Configs","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const items = $('Get Ticket Configs').all();\nconst hasConfig = new Set();\nfor (let i = 0; i < items.length; i++) {\n  const ticketId = $('Extract IDs').all()[i]?.json?.ticketId;\n  const configs = items[i].json;\n  // If response is an array with items, ticket has config\n  if (Array.isArray(configs) && configs.length > 0) {\n    hasConfig.add(ticketId);\n  } else if (configs && typeof configs === 'object' && !Array.isArray(configs)) {\n    // Single config object\n    if (configs.id) hasConfig.add(ticketId);\n  }\n}\nreturn [{ json: { ticketsWithConfig: Array.from(hasConfig), count: hasConfig.size } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300],"id":"aggregate-configs","name":"Aggregate Configs"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Set Date Ranges":{"main":[[{"node":"Get Open Tickets","type":"main","index":0}]]},"Get Open Tickets":{"main":[[{"node":"Get Opened Today","type":"main","index":0}]]},"Get Opened Today":{"main":[[{"node":"Get Closed Today","type":"main","index":0}]]},"Get Closed Today":{"main":[[{"node":"Get 14d Opened","type":"main","index":0}]]},"Get 14d Opened":{"main":[[{"node":"Get 14d Closed","type":"main","index":0}]]},"Get 14d Closed":{"main":[[{"node":"Extract IDs","type":"main","index":0}]]},"Build SQL":{"main":[[{"node":"Write to Postgres","type":"main","index":0}]]},"Extract IDs":{"main":[[{"node":"Get Ticket Configs","type":"main","index":0}]]},"Get Ticket Configs":{"main":[[{"node":"Aggregate Configs","type":"main","index":0}]]},"Aggregate Configs":{"main":[[{"node":"Build SQL","type":"main","index":0}]]}},"authors":"Wayne LeDrew","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-08T12:19:29.029Z","id":139,"workflowId":"heUxpzPiV2FopIJy","versionId":"27576cc5-928c-4f6f-b9a6-0f00fe7294f8","event":"activated","userId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}]}}