workflows/Goals-Dashboard---Daily-Snapshot.json
{"updatedAt":"2026-03-21T12:00:21.389Z","createdAt":"2026-03-05T22:14:56.864Z","id":"DDPjO4wACkqA27mW","name":"Goals Dashboard - Daily Snapshot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,-16],"id":"sched-trigger","name":"Hourly Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1200,-208],"id":"manual-trigger","name":"Manual Trigger"},{"parameters":{"jsCode":"const now = new Date();\nconst todayISO = now.toISOString();\n\nconst d7 = new Date(now);\nd7.setDate(d7.getDate() - 7);\n\nconst d30 = new Date(now);\nd30.setDate(d30.getDate() - 30);\n\nreturn [{\n  json: {\n    todayISO,\n    today: now.toISOString().substring(0, 10),\n    d7ISO: d7.toISOString(),\n    d30ISO: d30.toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-112],"id":"set-dates","name":"Set Date Ranges"},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"closedFlag=false"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board,owner,status,dateEntered,sla"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,-112],"id":"get-active-tickets","name":"Get Active Tickets","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=closedFlag=true AND closedDate >= [{{ $('Set Date Ranges').item.json.d7ISO }}]"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board,owner,closedDate,closedBy,actualHours"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,-112],"id":"get-closed-7d","name":"Get Closed Last 7 Days","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=dateEntered >= [{{ $('Set Date Ranges').item.json.d7ISO }}]"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-112],"id":"get-created-7d","name":"Get Created Last 7 Days","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=_info/lastUpdated >= [{{ $('Set Date Ranges').item.json.d7ISO }}]"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-112],"id":"get-updated-7d","name":"Get Updated Last 7 Days","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=dateEntered >= [{{ $('Set Date Ranges').item.json.d30ISO }}] AND sla/id != null"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,dateEntered,isInSla,slaStatus,resolveMinutes,respondMinutes,closedFlag,priority,status"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-112],"id":"get-sla-30d","name":"Get Tickets for SLA 30d","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/schedule/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=type/id=4 AND dateEnd < [{{ $('Set Date Ranges').item.json.todayISO }}] AND status/id=1"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,member,objectId"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-112],"id":"get-past-due-schedules","name":"Get Past Due Schedules","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"jsCode":"const activeTicketsRaw = $('Get Active Tickets').all().map(i => i.json);\nconst closed7d = $('Get Closed Last 7 Days').all().map(i => i.json);\nconst created7d = $('Get Created Last 7 Days').all().map(i => i.json);\nconst updated7d = $('Get Updated Last 7 Days').all().map(i => i.json);\nconst slaTickets30d = $('Get Tickets for SLA 30d').all().map(i => i.json);\nconst pastDue = $('Get Past Due Schedules').all().map(i => i.json);\nconst dates = $('Set Date Ranges').first().json;\n\nlet gotoCalls = [];\ntry {\n  const gotoData = $('Get GoTo Calls 7d').first().json;\n  gotoCalls = gotoData.items || [];\n} catch(e) {}\n\n// --- ACTIVE TICKET FILTERS ---\n// Exclude \"parked\" statuses (Waiting, Scheduled, Recurring, etc.)\n// BG only counts tickets actively being worked or needing attention\nconst parkedStatuses = [\n  'scheduled', 'recurring', 'monthly', 'next onsite',\n  'waiting on client', 'waiting on 3rd party', 'on-hold',\n  'sign off', 'pending close', 'pending close*',\n  'ncr closed', 'completed', 'completed*', 'closed',\n  'closed*', 'closed-duplicate', 'closed-norespo',\n  'completed-duplicate', 'completed-noresponse',\n  'completed-survey*', 'completed-delete', 'completed-test*',\n  'enter time', 'accounting', 'accounting*'\n];\nconst excludedBoards = ['automated alerts'];\n\nconst activeTickets = activeTicketsRaw.filter(t => {\n  // Exclude parked/waiting statuses\n  const statusName = (t.status && t.status.name) ? t.status.name.toLowerCase() : '';\n  if (parkedStatuses.some(s => statusName === s || statusName.startsWith(s))) return false;\n  // Exclude Automated Alerts board\n  const boardName = (t.board && t.board.name) ? t.board.name.toLowerCase() : '';\n  if (excludedBoards.some(b => boardName.includes(b))) return false;\n  return true;\n});\n\n// --- ACTIVE METRICS ---\nconst activeTotal = activeTickets.length;\n\n// Managed Services: tickets on boards related to managed services\n// BG's \"Managed Services\" likely = Professional Services board with managed service agreements\n// For now: filter to Professional Services board (PSG)\nconst activeManagedServices = activeTickets.filter(t =>\n  t.board && t.board.name && t.board.name.toLowerCase().includes('professional')\n).length;\n\n// Block Time: may be a specific agreement type or board\nconst activeBlockTime = activeTickets.filter(t =>\n  t.board && t.board.name && t.board.name.toLowerCase().includes('block')\n).length;\n\nconst activeUnassigned = activeTickets.filter(t =>\n  !t.owner || !t.owner.id || t.owner.identifier === 'zvirtual'\n).length;\n\n// --- CLOSED/CREATED METRICS (include ALL, like BG does) ---\nconst pastDueCount = pastDue.length;\nconst closedCount7d = closed7d.length;\n\nlet avgHrsComplete = 0;\nconst closedWithHours = closed7d.filter(t => (t.actualHours || 0) > 0);\nif (closedWithHours.length > 0) {\n  avgHrsComplete = closedWithHours.reduce((sum, t) => sum + (t.actualHours || 0), 0) / closedWithHours.length;\n}\n\nconst createdCount7d = created7d.length;\nconst netTickets7d = createdCount7d - closedCount7d;\nconst totalUpdated7d = updated7d.length;\nconst netUpdates7d = totalUpdated7d - createdCount7d;\nconst killRate7d = createdCount7d > 0 ? (closedCount7d / createdCount7d * 100) : 100;\n\n// --- SLA (exclude auto-resolved and waiting) ---\nfunction isAutoResolved(t) {\n  return t.closedFlag === true && (t.respondMinutes || 0) === 0 && (t.resolveMinutes || 0) === 0;\n}\n\nconst d7 = new Date(dates.d7ISO);\nconst slaFiltered30d = slaTickets30d.filter(t => !isAutoResolved(t) && t.slaStatus !== 'Waiting');\nconst slaFiltered7d = slaFiltered30d.filter(t => {\n  try { return new Date(t.dateEntered) >= d7; } catch(e) { return false; }\n});\n\nfunction isBreached(t) {\n  if (t.closedFlag) return false;\n  return t.isInSla === false;\n}\n\nconst b7 = slaFiltered7d.filter(t => isBreached(t)).length;\nconst slaMet7d = slaFiltered7d.length > 0 ? ((slaFiltered7d.length - b7) / slaFiltered7d.length * 100) : 100;\nconst b30 = slaFiltered30d.filter(t => isBreached(t)).length;\nconst slaMet30d = slaFiltered30d.length > 0 ? ((slaFiltered30d.length - b30) / slaFiltered30d.length * 100) : 100;\n\n// --- CALLS ---\nconst inboundCalls = gotoCalls.filter(c => c.direction === 'INBOUND').length;\nconst outboundCalls = gotoCalls.filter(c => c.direction === 'OUTBOUND').length;\nlet avgCallLengthMin = 0;\nconst answeredCalls = gotoCalls.filter(c => c.callAnswered && c.callEnded);\nif (answeredCalls.length > 0) {\n  const totalMinutes = answeredCalls.reduce((sum, c) => {\n    return sum + (new Date(c.callEnded) - new Date(c.callAnswered)) / 60000;\n  }, 0);\n  avgCallLengthMin = totalMinutes / answeredCalls.length;\n}\n\nconst today = dates.today;\nreturn [\n  { metric_name: 'active_total', metric_value: activeTotal, category: 'tickets' },\n  { metric_name: 'active_managed_services', metric_value: activeManagedServices, category: 'tickets' },\n  { metric_name: 'active_block_time', metric_value: activeBlockTime, category: 'tickets' },\n  { metric_name: 'active_unassigned', metric_value: activeUnassigned, category: 'tickets' },\n  { metric_name: 'checklist_count', metric_value: 0, category: 'tickets' },\n  { metric_name: 'checklist_unassigned', metric_value: 0, category: 'tickets' },\n  { metric_name: 'no_future_schedule', metric_value: 0, category: 'tickets' },\n  { metric_name: 'past_due_schedules', metric_value: pastDueCount, category: 'tickets' },\n  { metric_name: 'closed_7d', metric_value: closedCount7d, category: 'tickets' },\n  { metric_name: 'avg_hrs_complete_7d', metric_value: Math.round(avgHrsComplete * 100) / 100, category: 'tickets' },\n  { metric_name: 'net_tickets_7d', metric_value: netTickets7d, category: 'tickets' },\n  { metric_name: 'net_updates_7d', metric_value: netUpdates7d, category: 'tickets' },\n  { metric_name: 'total_updated_7d', metric_value: totalUpdated7d, category: 'tickets' },\n  { metric_name: 'kill_rate_7d', metric_value: Math.round(killRate7d * 100) / 100, category: 'tickets' },\n  { metric_name: 'sla_met_7d', metric_value: Math.round(slaMet7d * 100) / 100, category: 'sla' },\n  { metric_name: 'sla_met_30d', metric_value: Math.round(slaMet30d * 100) / 100, category: 'sla' },\n  { metric_name: 'calls_inbound', metric_value: inboundCalls, category: 'calls' },\n  { metric_name: 'calls_outbound', metric_value: outboundCalls, category: 'calls' },\n  { metric_name: 'calls_avg_length_min', metric_value: Math.round(avgCallLengthMin * 100) / 100, category: 'calls' }\n].map(m => ({ json: { ...m, snapshot_date: today } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-112],"id":"compute-metrics","name":"Compute All Metrics"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO goals_daily_snapshot (snapshot_date, metric_name, metric_value, category)\nVALUES ('{{ $json.snapshot_date }}', '{{ $json.metric_name }}', {{ $json.metric_value }}, '{{ $json.category }}')\nON CONFLICT (snapshot_date, metric_name) DO UPDATE SET\n  metric_value = EXCLUDED.metric_value,\n  category = EXCLUDED.category,\n  captured_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1264,-112],"id":"upsert-metrics","name":"Upsert to Postgres","credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"url":"=https://api.goto.com/call-events-report/v1/report-summaries?accountKey=7761962048564292358&startTime={{ $('Set Date Ranges').item.json.d7ISO }}&endTime={{ $('Set Date Ranges').item.json.todayISO }}","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,-112],"id":"get-goto-calls","name":"Get GoTo Calls 7d","executeOnce":true,"alwaysOutputData":true,"credentials":{"oAuth2Api":{"id":"1vqpa12t5zGjjGSH","name":"GoTo Connect OAuth2"}}},{"parameters":{"path":"goals-snapshot-trigger","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,192],"id":"webhook-trigger","name":"Webhook Trigger","webhookId":"goals-trigger-001"}],"connections":{"Hourly Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Set Date Ranges":{"main":[[{"node":"Get Active Tickets","type":"main","index":0}]]},"Get Active Tickets":{"main":[[{"node":"Get Closed Last 7 Days","type":"main","index":0}]]},"Get Closed Last 7 Days":{"main":[[{"node":"Get Created Last 7 Days","type":"main","index":0}]]},"Get Created Last 7 Days":{"main":[[{"node":"Get Updated Last 7 Days","type":"main","index":0}]]},"Get Updated Last 7 Days":{"main":[[{"node":"Get Tickets for SLA 30d","type":"main","index":0}]]},"Get Tickets for SLA 30d":{"main":[[{"node":"Get Past Due Schedules","type":"main","index":0}]]},"Get Past Due Schedules":{"main":[[{"node":"Get GoTo Calls 7d","type":"main","index":0}]]},"Compute All Metrics":{"main":[[{"node":"Upsert to Postgres","type":"main","index":0}]]},"Get GoTo Calls 7d":{"main":[[{"node":"Compute All Metrics","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Hourly Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"94c3d409-7201-471a-8c9c-9bc7def2b948","activeVersionId":"c0147dd1-7c5e-4947-b1a0-9f1d39054d2b","versionCounter":70,"triggerCount":2,"shared":[{"updatedAt":"2026-03-05T22:14:56.867Z","createdAt":"2026-03-05T22:14:56.867Z","role":"workflow:owner","workflowId":"DDPjO4wACkqA27mW","projectId":"MEXLsivp2gOvqnSI","project":{"updatedAt":"2025-10-30T16:16:34.776Z","createdAt":"2025-10-30T16:14:15.739Z","id":"MEXLsivp2gOvqnSI","name":"Wayne LeDrew <wledrew@pund-it.ca>","type":"personal","icon":null,"description":null,"creatorId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-06T01:25:26.489Z","createdAt":"2026-03-06T01:25:26.489Z","versionId":"c0147dd1-7c5e-4947-b1a0-9f1d39054d2b","workflowId":"DDPjO4wACkqA27mW","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,-16],"id":"sched-trigger","name":"Hourly Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1200,-208],"id":"manual-trigger","name":"Manual Trigger"},{"parameters":{"jsCode":"const now = new Date();\nconst todayISO = now.toISOString();\n\nconst d7 = new Date(now);\nd7.setDate(d7.getDate() - 7);\n\nconst d30 = new Date(now);\nd30.setDate(d30.getDate() - 30);\n\nreturn [{\n  json: {\n    todayISO,\n    today: now.toISOString().substring(0, 10),\n    d7ISO: d7.toISOString(),\n    d30ISO: d30.toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-112],"id":"set-dates","name":"Set Date Ranges"},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"closedFlag=false"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board,owner,status,dateEntered,sla"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,-112],"id":"get-active-tickets","name":"Get Active Tickets","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=closedFlag=true AND closedDate >= [{{ $('Set Date Ranges').item.json.d7ISO }}]"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board,owner,closedDate,closedBy,actualHours"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,-112],"id":"get-closed-7d","name":"Get Closed Last 7 Days","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=dateEntered >= [{{ $('Set Date Ranges').item.json.d7ISO }}]"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-112],"id":"get-created-7d","name":"Get Created Last 7 Days","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=_info/lastUpdated >= [{{ $('Set Date Ranges').item.json.d7ISO }}]"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,board"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-112],"id":"get-updated-7d","name":"Get Updated Last 7 Days","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=dateEntered >= [{{ $('Set Date Ranges').item.json.d30ISO }}] AND sla/id != null"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,dateEntered,isInSla,slaStatus,resolveMinutes,respondMinutes,closedFlag,priority,status"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-112],"id":"get-sla-30d","name":"Get Tickets for SLA 30d","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/schedule/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"=type/id=4 AND dateEnd < [{{ $('Set Date Ranges').item.json.todayISO }}] AND status/id=1"},{"name":"pageSize","value":"1000"},{"name":"fields","value":"id,member,objectId"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-112],"id":"get-past-due-schedules","name":"Get Past Due Schedules","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const activeTicketsRaw = $('Get Active Tickets').all().map(i => i.json);\nconst closed7d = $('Get Closed Last 7 Days').all().map(i => i.json);\nconst created7d = $('Get Created Last 7 Days').all().map(i => i.json);\nconst updated7d = $('Get Updated Last 7 Days').all().map(i => i.json);\nconst slaTickets30d = $('Get Tickets for SLA 30d').all().map(i => i.json);\nconst pastDue = $('Get Past Due Schedules').all().map(i => i.json);\nconst dates = $('Set Date Ranges').first().json;\n\nlet gotoCalls = [];\ntry {\n  const gotoData = $('Get GoTo Calls 7d').first().json;\n  gotoCalls = gotoData.items || [];\n} catch(e) {}\n\n// --- ACTIVE TICKET FILTERS ---\n// Exclude \"parked\" statuses (Waiting, Scheduled, Recurring, etc.)\n// BG only counts tickets actively being worked or needing attention\nconst parkedStatuses = [\n  'scheduled', 'recurring', 'monthly', 'next onsite',\n  'waiting on client', 'waiting on 3rd party', 'on-hold',\n  'sign off', 'pending close', 'pending close*',\n  'ncr closed', 'completed', 'completed*', 'closed',\n  'closed*', 'closed-duplicate', 'closed-norespo',\n  'completed-duplicate', 'completed-noresponse',\n  'completed-survey*', 'completed-delete', 'completed-test*',\n  'enter time', 'accounting', 'accounting*'\n];\nconst excludedBoards = ['automated alerts'];\n\nconst activeTickets = activeTicketsRaw.filter(t => {\n  // Exclude parked/waiting statuses\n  const statusName = (t.status && t.status.name) ? t.status.name.toLowerCase() : '';\n  if (parkedStatuses.some(s => statusName === s || statusName.startsWith(s))) return false;\n  // Exclude Automated Alerts board\n  const boardName = (t.board && t.board.name) ? t.board.name.toLowerCase() : '';\n  if (excludedBoards.some(b => boardName.includes(b))) return false;\n  return true;\n});\n\n// --- ACTIVE METRICS ---\nconst activeTotal = activeTickets.length;\n\n// Managed Services: tickets on boards related to managed services\n// BG's \"Managed Services\" likely = Professional Services board with managed service agreements\n// For now: filter to Professional Services board (PSG)\nconst activeManagedServices = activeTickets.filter(t =>\n  t.board && t.board.name && t.board.name.toLowerCase().includes('professional')\n).length;\n\n// Block Time: may be a specific agreement type or board\nconst activeBlockTime = activeTickets.filter(t =>\n  t.board && t.board.name && t.board.name.toLowerCase().includes('block')\n).length;\n\nconst activeUnassigned = activeTickets.filter(t =>\n  !t.owner || !t.owner.id || t.owner.identifier === 'zvirtual'\n).length;\n\n// --- CLOSED/CREATED METRICS (include ALL, like BG does) ---\nconst pastDueCount = pastDue.length;\nconst closedCount7d = closed7d.length;\n\nlet avgHrsComplete = 0;\nconst closedWithHours = closed7d.filter(t => (t.actualHours || 0) > 0);\nif (closedWithHours.length > 0) {\n  avgHrsComplete = closedWithHours.reduce((sum, t) => sum + (t.actualHours || 0), 0) / closedWithHours.length;\n}\n\nconst createdCount7d = created7d.length;\nconst netTickets7d = createdCount7d - closedCount7d;\nconst totalUpdated7d = updated7d.length;\nconst netUpdates7d = totalUpdated7d - createdCount7d;\nconst killRate7d = createdCount7d > 0 ? (closedCount7d / createdCount7d * 100) : 100;\n\n// --- SLA (exclude auto-resolved and waiting) ---\nfunction isAutoResolved(t) {\n  return t.closedFlag === true && (t.respondMinutes || 0) === 0 && (t.resolveMinutes || 0) === 0;\n}\n\nconst d7 = new Date(dates.d7ISO);\nconst slaFiltered30d = slaTickets30d.filter(t => !isAutoResolved(t) && t.slaStatus !== 'Waiting');\nconst slaFiltered7d = slaFiltered30d.filter(t => {\n  try { return new Date(t.dateEntered) >= d7; } catch(e) { return false; }\n});\n\nfunction isBreached(t) {\n  if (t.closedFlag) return false;\n  return t.isInSla === false;\n}\n\nconst b7 = slaFiltered7d.filter(t => isBreached(t)).length;\nconst slaMet7d = slaFiltered7d.length > 0 ? ((slaFiltered7d.length - b7) / slaFiltered7d.length * 100) : 100;\nconst b30 = slaFiltered30d.filter(t => isBreached(t)).length;\nconst slaMet30d = slaFiltered30d.length > 0 ? ((slaFiltered30d.length - b30) / slaFiltered30d.length * 100) : 100;\n\n// --- CALLS ---\nconst inboundCalls = gotoCalls.filter(c => c.direction === 'INBOUND').length;\nconst outboundCalls = gotoCalls.filter(c => c.direction === 'OUTBOUND').length;\nlet avgCallLengthMin = 0;\nconst answeredCalls = gotoCalls.filter(c => c.callAnswered && c.callEnded);\nif (answeredCalls.length > 0) {\n  const totalMinutes = answeredCalls.reduce((sum, c) => {\n    return sum + (new Date(c.callEnded) - new Date(c.callAnswered)) / 60000;\n  }, 0);\n  avgCallLengthMin = totalMinutes / answeredCalls.length;\n}\n\nconst today = dates.today;\nreturn [\n  { metric_name: 'active_total', metric_value: activeTotal, category: 'tickets' },\n  { metric_name: 'active_managed_services', metric_value: activeManagedServices, category: 'tickets' },\n  { metric_name: 'active_block_time', metric_value: activeBlockTime, category: 'tickets' },\n  { metric_name: 'active_unassigned', metric_value: activeUnassigned, category: 'tickets' },\n  { metric_name: 'checklist_count', metric_value: 0, category: 'tickets' },\n  { metric_name: 'checklist_unassigned', metric_value: 0, category: 'tickets' },\n  { metric_name: 'no_future_schedule', metric_value: 0, category: 'tickets' },\n  { metric_name: 'past_due_schedules', metric_value: pastDueCount, category: 'tickets' },\n  { metric_name: 'closed_7d', metric_value: closedCount7d, category: 'tickets' },\n  { metric_name: 'avg_hrs_complete_7d', metric_value: Math.round(avgHrsComplete * 100) / 100, category: 'tickets' },\n  { metric_name: 'net_tickets_7d', metric_value: netTickets7d, category: 'tickets' },\n  { metric_name: 'net_updates_7d', metric_value: netUpdates7d, category: 'tickets' },\n  { metric_name: 'total_updated_7d', metric_value: totalUpdated7d, category: 'tickets' },\n  { metric_name: 'kill_rate_7d', metric_value: Math.round(killRate7d * 100) / 100, category: 'tickets' },\n  { metric_name: 'sla_met_7d', metric_value: Math.round(slaMet7d * 100) / 100, category: 'sla' },\n  { metric_name: 'sla_met_30d', metric_value: Math.round(slaMet30d * 100) / 100, category: 'sla' },\n  { metric_name: 'calls_inbound', metric_value: inboundCalls, category: 'calls' },\n  { metric_name: 'calls_outbound', metric_value: outboundCalls, category: 'calls' },\n  { metric_name: 'calls_avg_length_min', metric_value: Math.round(avgCallLengthMin * 100) / 100, category: 'calls' }\n].map(m => ({ json: { ...m, snapshot_date: today } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-112],"id":"compute-metrics","name":"Compute All Metrics"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO goals_daily_snapshot (snapshot_date, metric_name, metric_value, category)\nVALUES ('{{ $json.snapshot_date }}', '{{ $json.metric_name }}', {{ $json.metric_value }}, '{{ $json.category }}')\nON CONFLICT (snapshot_date, metric_name) DO UPDATE SET\n  metric_value = EXCLUDED.metric_value,\n  category = EXCLUDED.category,\n  captured_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1264,-112],"id":"upsert-metrics","name":"Upsert to Postgres","credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"url":"=https://api.goto.com/call-events-report/v1/report-summaries?accountKey=7761962048564292358&startTime={{ $('Set Date Ranges').item.json.d7ISO }}&endTime={{ $('Set Date Ranges').item.json.todayISO }}","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,-112],"id":"get-goto-calls","name":"Get GoTo Calls 7d","executeOnce":true,"credentials":{"oAuth2Api":{"id":"1vqpa12t5zGjjGSH","name":"GoTo Connect OAuth2"}},"alwaysOutputData":true},{"parameters":{"path":"goals-snapshot-trigger","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,200],"id":"webhook-trigger","name":"Webhook Trigger","webhookId":"goals-trigger-001"}],"connections":{"Hourly Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Set Date Ranges":{"main":[[{"node":"Get Active Tickets","type":"main","index":0}]]},"Get Active Tickets":{"main":[[{"node":"Get Closed Last 7 Days","type":"main","index":0}]]},"Get Closed Last 7 Days":{"main":[[{"node":"Get Created Last 7 Days","type":"main","index":0}]]},"Get Created Last 7 Days":{"main":[[{"node":"Get Updated Last 7 Days","type":"main","index":0}]]},"Get Updated Last 7 Days":{"main":[[{"node":"Get Tickets for SLA 30d","type":"main","index":0}]]},"Get Tickets for SLA 30d":{"main":[[{"node":"Get Past Due Schedules","type":"main","index":0}]]},"Get Past Due Schedules":{"main":[[{"node":"Get GoTo Calls 7d","type":"main","index":0}]]},"Compute All Metrics":{"main":[[{"node":"Upsert to Postgres","type":"main","index":0}]]},"Get GoTo Calls 7d":{"main":[[{"node":"Compute All Metrics","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]}},"authors":"Wayne LeDrew","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-06T01:25:26.579Z","id":138,"workflowId":"DDPjO4wACkqA27mW","versionId":"c0147dd1-7c5e-4947-b1a0-9f1d39054d2b","event":"activated","userId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}]}}