workflows/Mgmt-Scorecard-Financial-Sheet-Sync.json
{"updatedAt":"2026-03-22T09:38:00.402Z","createdAt":"2026-03-20T10:54:44.821Z","id":"cPhrqQQuQvXIZl6b","name":"Mgmt Scorecard - Financial Sheet Sync","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"schedule-1","name":"Every 4 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"authentication":"oAuth2","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"18oYjZymWCYG_sZfOj8iwTgwyYUaMjbx3ijw1a8h_G_M","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18oYjZymWCYG_sZfOj8iwTgwyYUaMjbx3ijw1a8h_G_M/edit#gid=0"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"sheets-1","name":"Read Financial Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[440,300],"credentials":{"googleSheetsOAuth2Api":{"id":"jrvGE6SYZN4rGXKx","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const rows = $input.all();\nconst statements = [];\nconst now = new Date();\nconst year = now.getFullYear();\n\nfor (const row of rows) {\n  const data = row.json;\n  const metric = (data['Metric'] || '').trim();\n  if (!metric) continue;\n  const target = (data['Target'] || '').replace(/'/g, \"''\");\n\n  for (const [key, val] of Object.entries(data)) {\n    if (key === 'Metric' || key === 'Target' || !val) continue;\n    // Match MMDD format columns\n    const match = key.match(/^(\\d{2})(\\d{2})$/);\n    if (!match) continue;\n    const month = parseInt(match[1]);\n    const day = parseInt(match[2]);\n    // Handle year rollover (Nov/Dec columns in Jan-May)\n    let dateYear = year;\n    if (month >= 11 && now.getMonth() < 5) dateYear = year - 1;\n    const weekDate = dateYear + '-' + String(month).padStart(2, '0') + '-' + String(day).padStart(2, '0');\n    const numVal = parseFloat(String(val).replace(/[^0-9.-]/g, ''));\n    if (isNaN(numVal)) continue;\n\n    const safeMet = metric.replace(/'/g, \"''\");\n    const sql = \"INSERT INTO scorecard_financials (metric_name, week_date, value, target_value) VALUES ('\" + safeMet + \"', '\" + weekDate + \"', \" + numVal + \", '\" + target + \"') ON CONFLICT (metric_name, week_date) DO UPDATE SET value = EXCLUDED.value, target_value = EXCLUDED.target_value, captured_at = NOW();\";\n    statements.push({ json: { sql } });\n  }\n}\nreturn statements.length > 0 ? statements : [{ json: { sql: 'SELECT 1' } }];"},"id":"code-1","name":"Build Upsert SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"postgres-1","name":"Upsert to Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,300],"credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"path":"mgmt-scorecard-financial-sync","httpMethod":"POST","responseMode":"onReceived","options":{}},"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[800,100],"id":"5a92bace-77e7-433e-ba66-8ffbd4cb3ea0"}],"connections":{"Every 4 Hours":{"main":[[{"node":"Read Financial Sheet","type":"main","index":0}]]},"Read Financial Sheet":{"main":[[{"node":"Build Upsert SQL","type":"main","index":0}]]},"Build Upsert SQL":{"main":[[{"node":"Upsert to Postgres","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Read Financial Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 4 Hours":{"recurrenceRules":[4]}},"meta":null,"pinData":null,"versionId":"82c927ec-df21-43af-a71f-33fc66a14b88","activeVersionId":"82c927ec-df21-43af-a71f-33fc66a14b88","versionCounter":82,"triggerCount":2,"shared":[{"updatedAt":"2026-03-20T10:54:44.826Z","createdAt":"2026-03-20T10:54:44.826Z","role":"workflow:owner","workflowId":"cPhrqQQuQvXIZl6b","projectId":"MEXLsivp2gOvqnSI","project":{"updatedAt":"2025-10-30T16:16:34.776Z","createdAt":"2025-10-30T16:14:15.739Z","id":"MEXLsivp2gOvqnSI","name":"Wayne LeDrew <wledrew@pund-it.ca>","type":"personal","icon":null,"description":null,"creatorId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-22T09:38:00.413Z","createdAt":"2026-03-22T09:38:00.413Z","versionId":"82c927ec-df21-43af-a71f-33fc66a14b88","workflowId":"cPhrqQQuQvXIZl6b","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"schedule-1","name":"Every 4 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"authentication":"oAuth2","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"18oYjZymWCYG_sZfOj8iwTgwyYUaMjbx3ijw1a8h_G_M","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18oYjZymWCYG_sZfOj8iwTgwyYUaMjbx3ijw1a8h_G_M/edit#gid=0"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"sheets-1","name":"Read Financial Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[440,300],"credentials":{"googleSheetsOAuth2Api":{"id":"jrvGE6SYZN4rGXKx","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const rows = $input.all();\nconst statements = [];\nconst now = new Date();\nconst year = now.getFullYear();\n\nfor (const row of rows) {\n  const data = row.json;\n  const metric = (data['Metric'] || '').trim();\n  if (!metric) continue;\n  const target = (data['Target'] || '').replace(/'/g, \"''\");\n\n  for (const [key, val] of Object.entries(data)) {\n    if (key === 'Metric' || key === 'Target' || !val) continue;\n    // Match MMDD format columns\n    const match = key.match(/^(\\d{2})(\\d{2})$/);\n    if (!match) continue;\n    const month = parseInt(match[1]);\n    const day = parseInt(match[2]);\n    // Handle year rollover (Nov/Dec columns in Jan-May)\n    let dateYear = year;\n    if (month >= 11 && now.getMonth() < 5) dateYear = year - 1;\n    const weekDate = dateYear + '-' + String(month).padStart(2, '0') + '-' + String(day).padStart(2, '0');\n    const numVal = parseFloat(String(val).replace(/[^0-9.-]/g, ''));\n    if (isNaN(numVal)) continue;\n\n    const safeMet = metric.replace(/'/g, \"''\");\n    const sql = \"INSERT INTO scorecard_financials (metric_name, week_date, value, target_value) VALUES ('\" + safeMet + \"', '\" + weekDate + \"', \" + numVal + \", '\" + target + \"') ON CONFLICT (metric_name, week_date) DO UPDATE SET value = EXCLUDED.value, target_value = EXCLUDED.target_value, captured_at = NOW();\";\n    statements.push({ json: { sql } });\n  }\n}\nreturn statements.length > 0 ? statements : [{ json: { sql: 'SELECT 1' } }];"},"id":"code-1","name":"Build Upsert SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"postgres-1","name":"Upsert to Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,300],"credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"path":"mgmt-scorecard-financial-sync","httpMethod":"POST","responseMode":"onReceived","options":{}},"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[800,100],"id":"5a92bace-77e7-433e-ba66-8ffbd4cb3ea0"}],"connections":{"Every 4 Hours":{"main":[[{"node":"Read Financial Sheet","type":"main","index":0}]]},"Read Financial Sheet":{"main":[[{"node":"Build Upsert SQL","type":"main","index":0}]]},"Build Upsert SQL":{"main":[[{"node":"Upsert to Postgres","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Read Financial Sheet","type":"main","index":0}]]}},"authors":"Wayne LeDrew","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-22T09:38:00.749Z","id":179,"workflowId":"cPhrqQQuQvXIZl6b","versionId":"82c927ec-df21-43af-a71f-33fc66a14b88","event":"activated","userId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"},{"createdAt":"2026-03-22T09:38:00.719Z","id":178,"workflowId":"cPhrqQQuQvXIZl6b","versionId":"82c927ec-df21-43af-a71f-33fc66a14b88","event":"deactivated","userId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}]}}