workflows/Mgmt-Scorecard---CW-Weekly-Sync.json
{"updatedAt":"2026-03-20T10:52:36.793Z","createdAt":"2026-03-08T16:44:24.783Z","id":"2jpjxYKlgLaToXPk","name":"Mgmt Scorecard - CW Weekly Sync","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,112],"id":"9bc4286a-60d7-4491-b6dd-d5b47022ff34","name":"Daily 6AM"},{"parameters":{"path":"mgmt-scorecard-sync","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,304],"id":"e64372de-5cee-4902-ba35-59f27e84793c","name":"Webhook Trigger","webhookId":"mgmt-scorecard-sync"},{"parameters":{"jsCode":"// Calculate 15 weeks of Sunday-start date ranges (matching BrightGauge)\nconst now = new Date();\nconst today = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n\n// Find this Sunday (start of current week)\nconst dayOfWeek = today.getDay(); // 0=Sun, 1=Mon...\nconst sunday = new Date(today);\nsunday.setDate(today.getDate() - dayOfWeek);\n\nconst weeks = [];\nfor (let i = 14; i >= 0; i--) {\n  const weekStart = new Date(sunday);\n  weekStart.setDate(sunday.getDate() - (i * 7));\n  const weekEnd = new Date(weekStart);\n  weekEnd.setDate(weekStart.getDate() + 6);\n  const endDate = weekEnd > today ? today : weekEnd;\n  weeks.push({\n    weekStart: weekStart.toISOString().split('T')[0],\n    weekEnd: endDate.toISOString().split('T')[0],\n    weekStartISO: weekStart.toISOString(),\n    weekEndISO: new Date(endDate.getTime() + 86400000).toISOString()\n  });\n}\n\nreturn [{ json: { weeks, nowISO: now.toISOString() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,208],"id":"6da5d7dc-4319-4c90-b05b-8c6607ad5bbe","name":"Set Date Ranges"},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,208],"id":"6b02b1a6-9d8e-437f-ada5-26c77a87eae6","name":"Get Closed Tickets","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"closedFlag=false"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"},{"name":"fields","value":"id,status,slaStatus,respondMinutes,resolveMinutes,_info"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,208],"id":"1ba3e9a6-2018-47a8-8b3f-d3980792e74c","name":"Get Open Tickets","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,208],"id":"d768f1f1-2948-417c-9995-1c0bd678ffb5","name":"Get Time Entries","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"jsCode":"// Calculate Metrics v3 - Mgmt Scorecard\n// Fixes: open ticket filter, SLA breach detection, kill rate precision,\n// sales won tracking via _info.lastUpdated, revenue from forecast\n\nconst dateRanges = $('Set Date Ranges').first().json;\nconst weeks = dateRanges.weeks;\n\n// Combine all closed ticket pages\nconst closedItems = [\n  ...$('Get Closed Tickets').all(),\n  ...$('Get Closed Tickets P2').all(),\n  ...$('Get Closed Tickets P3').all(),\n  ...$('Get Closed Tickets P4').all(),\n  ...$('Get Closed Tickets P5').all()\n];\n\nconst openItems = $('Get Open Tickets').all();\nconst allTickets = [...openItems, ...closedItems];\n\nconst safeAll = (name) => { try { return $('' + name).all() || []; } catch (e) { return []; } };\nconst timeItems = [\n  ...safeAll('Get Time Entries'), ...safeAll('Get Time Entries P2'),\n  ...safeAll('Get Time Entries P3'), ...safeAll('Get Time Entries P4'),\n  ...safeAll('Get Time Entries P5'), ...safeAll('Get Time Entries P6'),\n  ...safeAll('Get Time Entries P7'), ...safeAll('Get Time Entries P8')\n];\n\nconst openOpps = safeAll('Get Open Opportunities');\nconst openProjects = safeAll('Get Open Projects');\n\n// --- Parked statuses for open ticket count (matches BG) ---\nconst PARKED_STATUSES = [\n  'Scheduled', 'NCR Closed', 'Completed-NoResponse*',\n  'Completed-Duplicate', 'SecInc Closed'\n];\n\nfunction toETDate(isoStr) {\n  if (!isoStr) return null;\n  const d = new Date(isoStr);\n  d.setHours(d.getHours() - 5);\n  return d.toISOString().split('T')[0];\n}\n\nfunction inWeek(dateStr, weekStart, weekEnd) {\n  return dateStr >= weekStart && dateStr <= weekEnd;\n}\n\nfunction inRange(dateStr, rangeStart, rangeEnd) {\n  return dateStr >= rangeStart && dateStr <= rangeEnd;\n}\n\n// Parse SLA status \"Respond by\" date strings\nfunction isSlaBreached(slaStatus, asOfDate) {\n  if (!slaStatus) return null; // no SLA tracking\n  if (slaStatus === 'Resolved') return false;\n  if (slaStatus === 'Waiting') return false;\n  if (slaStatus.startsWith('Respond by') || slaStatus.startsWith('Resolve by') || slaStatus.startsWith('Plan by')) {\n    // Parse date like \"Respond by Mon 03/16 5:00 PM UTC-04\"\n    const match = slaStatus.match(/(\\d{2})\\/(\\d{2})\\s+(\\d{1,2}):(\\d{2})\\s+(AM|PM)\\s+UTC([+-]\\d{2})/);\n    if (match) {\n      const month = parseInt(match[1]) - 1;\n      const day = parseInt(match[2]);\n      let hour = parseInt(match[3]);\n      const min = parseInt(match[4]);\n      const ampm = match[5];\n      const tzOffset = parseInt(match[6]);\n      \n      if (ampm === 'PM' && hour < 12) hour += 12;\n      if (ampm === 'AM' && hour === 12) hour = 0;\n      \n      // Figure out the year - assume current year or last year\n      const now = new Date(asOfDate + 'T23:59:59Z');\n      let year = now.getFullYear();\n      let respondDate = new Date(year, month, day, hour - tzOffset, min);\n      // If respond date is way in the future (>6 months), it's probably last year\n      if (respondDate > new Date(now.getTime() + 180 * 86400000)) {\n        respondDate = new Date(year - 1, month, day, hour - tzOffset, min);\n      }\n      \n      return respondDate < now;\n    }\n    // Can't parse, assume not breached\n    return false;\n  }\n  return false;\n}\n\n// Separate Won/Lost/Open opportunities\nconst wonOpps = openOpps.filter(i => i.json.status?.name === '10-Won');\nconst lostOpps = openOpps.filter(i => {\n  const s = i.json.status?.name || '';\n  return s === '01-Lost' || s === '03-No decision';\n});\nconst trueOpenOpps = openOpps.filter(i => {\n  const s = (i.json.status?.name || '').toLowerCase();\n  return !s.includes('won') && !s.includes('lost') && !s.includes('no decision');\n});\n\nconst rows = [];\nconst now = new Date();\n\nfor (let wi = 0; wi < weeks.length; wi++) {\n  const week = weeks[wi];\n  const ws = week.weekStart;\n  const we = week.weekEnd;\n  const isCurrentWeek = wi === weeks.length - 1;\n\n  // ---- CUSTOMER SERVICE ----\n  let opened = 0;\n  for (const item of allTickets) {\n    const t = item.json;\n    const entered = toETDate(t._info?.dateEntered || t.dateEntered);\n    if (entered && inWeek(entered, ws, we)) opened++;\n  }\n\n  let closed = 0;\n  for (const item of closedItems) {\n    const t = item.json;\n    const closedDate = toETDate(t.closedDate);\n    if (closedDate && inWeek(closedDate, ws, we)) closed++;\n  }\n\n  // Kill Rate 7-day\n  const killRate7 = opened > 0 ? Math.round((closed / opened) * 10000) / 100 : 0;\n\n  // Kill Rate 14-day\n  let opened14 = opened, closed14 = closed;\n  if (wi > 0) {\n    const prevWs = weeks[wi - 1].weekStart;\n    const prevWe = weeks[wi - 1].weekEnd;\n    for (const item of allTickets) {\n      const entered = toETDate(item.json._info?.dateEntered || item.json.dateEntered);\n      if (entered && inWeek(entered, prevWs, prevWe)) opened14++;\n    }\n    for (const item of closedItems) {\n      const closedDate = toETDate(item.json.closedDate);\n      if (closedDate && inWeek(closedDate, prevWs, prevWe)) closed14++;\n    }\n  }\n  const killRate14 = opened14 > 0 ? Math.round((closed14 / opened14) * 10000) / 100 : 0;\n\n  // SLA % Met - 30-day rolling window\n  const weekEndDate = new Date(we + 'T23:59:59Z');\n  const thirtyDaysAgo = new Date(weekEndDate);\n  thirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n  const slaRangeStart = thirtyDaysAgo.toISOString().split('T')[0];\n\n  let slaMetCount = 0;\n  let slaTotalCount = 0;\n\n  // Check closed tickets in 30-day window\n  for (const item of closedItems) {\n    const t = item.json;\n    const closedDate = toETDate(t.closedDate);\n    if (closedDate && inRange(closedDate, slaRangeStart, we)) {\n      if (t.slaStatus) {\n        slaTotalCount++;\n        const breached = isSlaBreached(t.slaStatus, we);\n        if (!breached) slaMetCount++;\n      }\n    }\n  }\n\n  // Check open tickets created in 30-day window\n  for (const item of openItems) {\n    const t = item.json;\n    const entered = toETDate(t._info?.dateEntered || t.dateEntered);\n    if (entered && inRange(entered, slaRangeStart, we)) {\n      if (t.slaStatus) {\n        slaTotalCount++;\n        const breached = isSlaBreached(t.slaStatus, we);\n        if (!breached) slaMetCount++;\n      }\n    }\n  }\n\n  const slaPct = slaTotalCount > 0 ? Math.round((slaMetCount / slaTotalCount) * 10000) / 100 : 100;\n\n  // Time entries\n  let totalHours = 0, billableHours = 0;\n  for (const item of timeItems) {\n    const t = item.json;\n    const d = toETDate(t.timeStart || t.dateEntered);\n    if (d && inWeek(d, ws, we)) {\n      const hrs = parseFloat(t.actualHours) || 0;\n      totalHours += hrs;\n      if (t.billableOption === 'Billable') billableHours += hrs;\n    }\n  }\n\n  // Open tickets - current week only, filtered\n  let openCount = null;\n  if (isCurrentWeek) {\n    openCount = openItems.filter(i => {\n      const statusName = i.json.status?.name || '';\n      return !PARKED_STATUSES.includes(statusName);\n    }).length;\n  }\n\n  // ---- SALES ----\n  // Open opps - store for all weeks (current snapshot)\n  const openOppsCount = trueOpenOpps.length;\n  let openOppsRevenue = 0;\n  for (const item of trueOpenOpps) {\n    openOppsRevenue += parseFloat(item.json.totalSalesTax || 0);\n  }\n  openOppsRevenue = Math.round(openOppsRevenue * 100) / 100;\n\n  // Won/Closed this week - use _info.lastUpdated as approximation\n  let oppsClosed = 0, oppsWon = 0, wonRevenue = 0;\n\n  // Won opps - check lastUpdated in this week\n  for (const item of wonOpps) {\n    const updated = toETDate(item.json._info?.lastUpdated);\n    if (updated && inWeek(updated, ws, we)) {\n      oppsWon++;\n      wonRevenue += parseFloat(item.json.totalSalesTax || 0);\n    }\n  }\n\n  // All closed (won + lost + no decision) this week\n  for (const item of lostOpps) {\n    const updated = toETDate(item.json._info?.lastUpdated);\n    if (updated && inWeek(updated, ws, we)) {\n      oppsClosed++;\n    }\n  }\n  oppsClosed += oppsWon; // won is also closed\n\n  wonRevenue = Math.round(wonRevenue * 100) / 100;\n\n  // ---- PROJECTS ----\n  let openProjectCount = null, budgetedHours = 0, actualProjectHours = 0;\n  if (isCurrentWeek) {\n    openProjectCount = openProjects.filter(i => !i.json.closedFlag).length;\n    for (const item of openProjects) {\n      const p = item.json;\n      budgetedHours += parseFloat(p.estimatedHours || p.budgetHours || 0);\n      actualProjectHours += parseFloat(p.actualHours || 0);\n    }\n  }\n\n  rows.push({\n    weekStart: ws, opened, closed,\n    killRate7, killRate14, slaPct,\n    totalHours: Math.round(totalHours * 100) / 100,\n    billableHours: Math.round(billableHours * 100) / 100,\n    openCount,\n    oppsClosed, oppsWon, wonRevenue, openOppsCount, openOppsRevenue,\n    openProjectCount, budgetedHours, actualProjectHours\n  });\n}\n\n// Build SQL - use targeted deletes to preserve snapshot metrics (open_tickets, open_projects)\n// Only delete metrics we're about to fully rewrite (all 15 weeks)\nconst sqlParts = [\n  \"DELETE FROM scorecard_weekly WHERE section='customer_service' AND metric_name IN ('tickets_opened','tickets_closed','kill_rate_7d','kill_rate_14d','sla_pct_30d','total_hours','billable_hours')\",\n  \"DELETE FROM scorecard_weekly WHERE section='sales' AND metric_name IN ('opps_closed','opps_won','won_revenue','open_opportunities','open_opps_revenue')\",\n  \"DELETE FROM scorecard_weekly WHERE section='projects' AND metric_name IN ('budgeted_hours','actual_project_hours','open_projects')\",\n  // Clean up old metric names from previous versions (NOT open_tickets — that's snapshot data we preserve)\n  \"DELETE FROM scorecard_weekly WHERE metric_name IN ('kill_rate','sla_pct','opps_closed_won','sales_revenue')\"\n];\n\nfor (const r of rows) {\n  const metrics = [\n    ['customer_service', 'tickets_opened', r.opened],\n    ['customer_service', 'tickets_closed', r.closed],\n    ['customer_service', 'kill_rate_7d', r.killRate7],\n    ['customer_service', 'kill_rate_14d', r.killRate14],\n    ['customer_service', 'sla_pct_30d', r.slaPct],\n    ['customer_service', 'total_hours', r.totalHours],\n    ['customer_service', 'billable_hours', r.billableHours],\n    ['sales', 'opps_closed', r.oppsClosed],\n    ['sales', 'opps_won', r.oppsWon],\n    ['sales', 'won_revenue', r.wonRevenue]\n  ];\n\n  if (r.openCount !== null) metrics.push(['customer_service', 'open_tickets', r.openCount]);\n  metrics.push(['sales', 'open_opportunities', r.openOppsCount]);\n  metrics.push(['sales', 'open_opps_revenue', r.openOppsRevenue]);\n  if (r.openProjectCount !== null) metrics.push(['projects', 'open_projects', r.openProjectCount]);\n  if (r.budgetedHours > 0) metrics.push(['projects', 'budgeted_hours', r.budgetedHours]);\n  if (r.actualProjectHours > 0) metrics.push(['projects', 'actual_project_hours', r.actualProjectHours]);\n\n  for (const [section, name, val] of metrics) {\n    sqlParts.push(\n      \"INSERT INTO scorecard_weekly (week_start, section, metric_name, metric_value, updated_at) \" +\n      \"VALUES ('\" + r.weekStart + \"', '\" + section + \"', '\" + name + \"', \" + val + \", NOW()) \" +\n      \"ON CONFLICT (week_start, section, metric_name) DO UPDATE SET metric_value = \" + val + \", updated_at = NOW()\"\n    );\n  }\n}\n\n// Store opportunity details for drilldown\nsqlParts.push(\"DELETE FROM opportunity_details\");\nfor (const item of openOpps) {\n  const o = item.json;\n  const name = (o.name || '').replace(/'/g, \"''\");\n  const company = (o.company?.name || '').replace(/'/g, \"''\");\n  const contact = (o.contact?.name || '').replace(/'/g, \"''\");\n  const rep = (o.primarySalesRep?.name || '').replace(/'/g, \"''\");\n  const statusName = (o.status?.name || '').replace(/'/g, \"''\");\n  const stageName = (o.stage?.name || '').replace(/'/g, \"''\");\n  const typeName = (o.type?.name || '').replace(/'/g, \"''\");\n  const prob = (o.probability?.name || '').replace(/'/g, \"''\");\n  const expClose = o.expectedCloseDate ? \"'\" + o.expectedCloseDate.split('T')[0] + \"'\" : 'NULL';\n  const dateLead = o.dateBecameLead ? \"'\" + o.dateBecameLead + \"'\" : 'NULL';\n  const lastUpd = o._info?.lastUpdated ? \"'\" + o._info.lastUpdated + \"'\" : 'NULL';\n  const tax = parseFloat(o.totalSalesTax || 0);\n\n  sqlParts.push(\n    `INSERT INTO opportunity_details (id,name,status_name,company_name,contact_name,primary_rep,expected_close_date,date_became_lead,last_updated,total_sales_tax,probability,stage_name,type_name,updated_at) VALUES (${o.id},'${name}','${statusName}','${company}','${contact}','${rep}',${expClose},${dateLead},${lastUpd},${tax},'${prob}','${stageName}','${typeName}',NOW()) ON CONFLICT (id) DO UPDATE SET name=EXCLUDED.name,status_name=EXCLUDED.status_name,company_name=EXCLUDED.company_name,contact_name=EXCLUDED.contact_name,primary_rep=EXCLUDED.primary_rep,expected_close_date=EXCLUDED.expected_close_date,date_became_lead=EXCLUDED.date_became_lead,last_updated=EXCLUDED.last_updated,total_sales_tax=EXCLUDED.total_sales_tax,probability=EXCLUDED.probability,stage_name=EXCLUDED.stage_name,type_name=EXCLUDED.type_name,updated_at=NOW()`\n  );\n}\n\n// Store project details for drilldown\nsqlParts.push(\"DELETE FROM project_details\");\nfor (const item of openProjects) {\n  const p = item.json;\n  const name = (p.name || '').replace(/'/g, \"''\");\n  const company = (p.company?.name || '').replace(/'/g, \"''\");\n  const manager = (p.manager?.name || '').replace(/'/g, \"''\");\n  const statusName = (p.status?.name || '').replace(/'/g, \"''\");\n  const boardName = (p.board?.name || '').replace(/'/g, \"''\");\n  const budget = parseFloat(p.budgetHours || p.estimatedHours || 0);\n  const actual = parseFloat(p.actualHours || 0);\n  const estimated = parseFloat(p.estimatedHours || 0);\n\n  sqlParts.push(\n    `INSERT INTO project_details (id,name,status_name,company_name,manager_name,budgeted_hours,actual_hours,estimated_hours,board_name,updated_at) VALUES (${p.id},'${name}','${statusName}','${company}','${manager}',${budget},${actual},${estimated},'${boardName}',NOW()) ON CONFLICT (id) DO UPDATE SET name=EXCLUDED.name,status_name=EXCLUDED.status_name,company_name=EXCLUDED.company_name,manager_name=EXCLUDED.manager_name,budgeted_hours=EXCLUDED.budgeted_hours,actual_hours=EXCLUDED.actual_hours,estimated_hours=EXCLUDED.estimated_hours,board_name=EXCLUDED.board_name,updated_at=NOW()`\n  );\n}\n\nreturn [{ json: { sql: sqlParts.join(';\\n'), rowCount: rows.length,\n  debug: {\n    closedTickets: closedItems.length,\n    openTickets: openItems.length,\n    timeEntries: timeItems.length,\n    allOpps: openOpps.length,\n    wonOpps: wonOpps.length,\n    lostOpps: lostOpps.length,\n    trueOpen: trueOpenOpps.length,\n    slaBreachedOpen: openItems.filter(i => isSlaBreached(i.json.slaStatus, weeks[weeks.length-1].weekEnd)).length\n  },\n  lastWeek: rows[rows.length - 1] } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,208],"id":"fe647d57-8698-4c83-9b47-fce07212e17b","name":"Calculate Metrics"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3280,208],"id":"c8c37d0d-e33b-4260-b389-81a867d33573","name":"Store in Postgres","credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"2"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,208],"id":"page-2-get-closed-tickets","name":"Get Closed Tickets P2","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"3"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,208],"id":"page-3-get-closed-tickets","name":"Get Closed Tickets P3","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"4"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,208],"id":"closed-p4","name":"Get Closed Tickets P4","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"5"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,208],"id":"closed-p5","name":"Get Closed Tickets P5","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"2"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,208],"id":"time-p2","name":"Get Time Entries P2","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"3"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,208],"id":"time-p3","name":"Get Time Entries P3","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"4"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,208],"id":"time-p4","name":"Get Time Entries P4","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,208],"id":"time-p5","name":"Get Time Entries P5","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"6"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,208],"id":"time-p6","name":"Get Time Entries P6","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"7"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,208],"id":"time-p7","name":"Get Time Entries P7","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"8"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,208],"id":"time-p8","name":"Get Time Entries P8","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/sales/opportunities","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"1000"},{"name":"page","value":"1"},{"name":"orderBy","value":"id desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2384,208],"id":"sales-open","name":"Get Open Opportunities","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/sales/opportunities","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"status/name='10-Won'"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2608,208],"id":"sales-closed","name":"Get Closed Opportunities","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/project/projects","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"status/name != 'Closed'"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2832,208],"id":"proj-open","name":"Get Open Projects","executeOnce":true,"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}}}],"connections":{"Daily 6AM":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Set Date Ranges":{"main":[[{"node":"Get Closed Tickets","type":"main","index":0}]]},"Get Closed Tickets":{"main":[[{"node":"Get Closed Tickets P2","type":"main","index":0}]]},"Get Closed Tickets P2":{"main":[[{"node":"Get Closed Tickets P3","type":"main","index":0}]]},"Get Closed Tickets P3":{"main":[[{"node":"Get Closed Tickets P4","type":"main","index":0}]]},"Get Closed Tickets P4":{"main":[[{"node":"Get Closed Tickets P5","type":"main","index":0}]]},"Get Closed Tickets P5":{"main":[[{"node":"Get Open Tickets","type":"main","index":0}]]},"Get Open Tickets":{"main":[[{"node":"Get Time Entries","type":"main","index":0}]]},"Get Time Entries":{"main":[[{"node":"Get Time Entries P2","type":"main","index":0}]]},"Get Time Entries P2":{"main":[[{"node":"Get Time Entries P3","type":"main","index":0}]]},"Get Time Entries P3":{"main":[[{"node":"Get Time Entries P4","type":"main","index":0}]]},"Calculate Metrics":{"main":[[{"node":"Store in Postgres","type":"main","index":0}]]},"Get Time Entries P4":{"main":[[{"node":"Get Time Entries P5","type":"main","index":0}]]},"Get Time Entries P5":{"main":[[{"node":"Get Time Entries P6","type":"main","index":0}]]},"Get Time Entries P6":{"main":[[{"node":"Get Time Entries P7","type":"main","index":0}]]},"Get Time Entries P7":{"main":[[{"node":"Get Time Entries P8","type":"main","index":0}]]},"Get Time Entries P8":{"main":[[{"node":"Get Open Opportunities","type":"main","index":0}]]},"Get Open Opportunities":{"main":[[{"node":"Get Closed Opportunities","type":"main","index":0}]]},"Get Closed Opportunities":{"main":[[{"node":"Get Open Projects","type":"main","index":0}]]},"Get Open Projects":{"main":[[{"node":"Calculate Metrics","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Daily 6AM":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"f41dc434-3825-40d4-b582-fe8ca8140859","activeVersionId":"1634e9e1-ca5a-4bbd-b499-a21239e48f6a","versionCounter":30,"triggerCount":2,"shared":[{"updatedAt":"2026-03-08T16:44:24.786Z","createdAt":"2026-03-08T16:44:24.786Z","role":"workflow:owner","workflowId":"2jpjxYKlgLaToXPk","projectId":"MEXLsivp2gOvqnSI","project":{"updatedAt":"2025-10-30T16:16:34.776Z","createdAt":"2025-10-30T16:14:15.739Z","id":"MEXLsivp2gOvqnSI","name":"Wayne LeDrew <wledrew@pund-it.ca>","type":"personal","icon":null,"description":null,"creatorId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T12:15:09.181Z","createdAt":"2026-03-15T12:15:09.181Z","versionId":"1634e9e1-ca5a-4bbd-b499-a21239e48f6a","workflowId":"2jpjxYKlgLaToXPk","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,100],"id":"9bc4286a-60d7-4491-b6dd-d5b47022ff34","name":"Daily 6AM"},{"parameters":{"path":"mgmt-scorecard-sync","httpMethod":"GET","responseMode":"onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,300],"id":"e64372de-5cee-4902-ba35-59f27e84793c","name":"Webhook Trigger","webhookId":"mgmt-scorecard-sync"},{"parameters":{"jsCode":"// Calculate 15 weeks of Sunday-start date ranges (matching BrightGauge)\nconst now = new Date();\nconst today = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n\n// Find this Sunday (start of current week)\nconst dayOfWeek = today.getDay(); // 0=Sun, 1=Mon...\nconst sunday = new Date(today);\nsunday.setDate(today.getDate() - dayOfWeek);\n\nconst weeks = [];\nfor (let i = 14; i >= 0; i--) {\n  const weekStart = new Date(sunday);\n  weekStart.setDate(sunday.getDate() - (i * 7));\n  const weekEnd = new Date(weekStart);\n  weekEnd.setDate(weekStart.getDate() + 6);\n  const endDate = weekEnd > today ? today : weekEnd;\n  weeks.push({\n    weekStart: weekStart.toISOString().split('T')[0],\n    weekEnd: endDate.toISOString().split('T')[0],\n    weekStartISO: weekStart.toISOString(),\n    weekEndISO: new Date(endDate.getTime() + 86400000).toISOString()\n  });\n}\n\nreturn [{ json: { weeks, nowISO: now.toISOString() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-900,200],"id":"6da5d7dc-4319-4c90-b05b-8c6607ad5bbe","name":"Set Date Ranges"},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,300],"id":"6b02b1a6-9d8e-437f-ada5-26c77a87eae6","name":"Get Closed Tickets","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"closedFlag=false"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"},{"name":"fields","value":"id,status,slaStatus,respondMinutes,resolveMinutes,_info"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,500],"id":"1ba3e9a6-2018-47a8-8b3f-d3980792e74c","name":"Get Open Tickets","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,700],"id":"d768f1f1-2948-417c-9995-1c0bd678ffb5","name":"Get Time Entries","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"jsCode":"// Calculate Metrics v3 - Mgmt Scorecard\n// Fixes: open ticket filter, SLA breach detection, kill rate precision,\n// sales won tracking via _info.lastUpdated, revenue from forecast\n\nconst dateRanges = $('Set Date Ranges').first().json;\nconst weeks = dateRanges.weeks;\n\n// Combine all closed ticket pages\nconst closedItems = [\n  ...$('Get Closed Tickets').all(),\n  ...$('Get Closed Tickets P2').all(),\n  ...$('Get Closed Tickets P3').all(),\n  ...$('Get Closed Tickets P4').all(),\n  ...$('Get Closed Tickets P5').all()\n];\n\nconst openItems = $('Get Open Tickets').all();\nconst allTickets = [...openItems, ...closedItems];\n\nconst safeAll = (name) => { try { return $('' + name).all() || []; } catch (e) { return []; } };\nconst timeItems = [\n  ...safeAll('Get Time Entries'), ...safeAll('Get Time Entries P2'),\n  ...safeAll('Get Time Entries P3'), ...safeAll('Get Time Entries P4'),\n  ...safeAll('Get Time Entries P5'), ...safeAll('Get Time Entries P6'),\n  ...safeAll('Get Time Entries P7'), ...safeAll('Get Time Entries P8')\n];\n\nconst openOpps = safeAll('Get Open Opportunities');\nconst openProjects = safeAll('Get Open Projects');\n\n// --- Parked statuses for open ticket count (matches BG) ---\nconst PARKED_STATUSES = [\n  'Scheduled', 'NCR Closed', 'Completed-NoResponse*',\n  'Completed-Duplicate', 'SecInc Closed'\n];\n\nfunction toETDate(isoStr) {\n  if (!isoStr) return null;\n  const d = new Date(isoStr);\n  d.setHours(d.getHours() - 5);\n  return d.toISOString().split('T')[0];\n}\n\nfunction inWeek(dateStr, weekStart, weekEnd) {\n  return dateStr >= weekStart && dateStr <= weekEnd;\n}\n\nfunction inRange(dateStr, rangeStart, rangeEnd) {\n  return dateStr >= rangeStart && dateStr <= rangeEnd;\n}\n\n// Parse SLA status \"Respond by\" date strings\nfunction isSlaBreached(slaStatus, asOfDate) {\n  if (!slaStatus) return null; // no SLA tracking\n  if (slaStatus === 'Resolved') return false;\n  if (slaStatus === 'Waiting') return false;\n  if (slaStatus.startsWith('Respond by') || slaStatus.startsWith('Resolve by') || slaStatus.startsWith('Plan by')) {\n    // Parse date like \"Respond by Mon 03/16 5:00 PM UTC-04\"\n    const match = slaStatus.match(/(\\d{2})\\/(\\d{2})\\s+(\\d{1,2}):(\\d{2})\\s+(AM|PM)\\s+UTC([+-]\\d{2})/);\n    if (match) {\n      const month = parseInt(match[1]) - 1;\n      const day = parseInt(match[2]);\n      let hour = parseInt(match[3]);\n      const min = parseInt(match[4]);\n      const ampm = match[5];\n      const tzOffset = parseInt(match[6]);\n      \n      if (ampm === 'PM' && hour < 12) hour += 12;\n      if (ampm === 'AM' && hour === 12) hour = 0;\n      \n      // Figure out the year - assume current year or last year\n      const now = new Date(asOfDate + 'T23:59:59Z');\n      let year = now.getFullYear();\n      let respondDate = new Date(year, month, day, hour - tzOffset, min);\n      // If respond date is way in the future (>6 months), it's probably last year\n      if (respondDate > new Date(now.getTime() + 180 * 86400000)) {\n        respondDate = new Date(year - 1, month, day, hour - tzOffset, min);\n      }\n      \n      return respondDate < now;\n    }\n    // Can't parse, assume not breached\n    return false;\n  }\n  return false;\n}\n\n// Separate Won/Lost/Open opportunities\nconst wonOpps = openOpps.filter(i => i.json.status?.name === '10-Won');\nconst lostOpps = openOpps.filter(i => {\n  const s = i.json.status?.name || '';\n  return s === '01-Lost' || s === '03-No decision';\n});\nconst trueOpenOpps = openOpps.filter(i => {\n  const s = (i.json.status?.name || '').toLowerCase();\n  return !s.includes('won') && !s.includes('lost') && !s.includes('no decision');\n});\n\nconst rows = [];\nconst now = new Date();\n\nfor (let wi = 0; wi < weeks.length; wi++) {\n  const week = weeks[wi];\n  const ws = week.weekStart;\n  const we = week.weekEnd;\n  const isCurrentWeek = wi === weeks.length - 1;\n\n  // ---- CUSTOMER SERVICE ----\n  let opened = 0;\n  for (const item of allTickets) {\n    const t = item.json;\n    const entered = toETDate(t._info?.dateEntered || t.dateEntered);\n    if (entered && inWeek(entered, ws, we)) opened++;\n  }\n\n  let closed = 0;\n  for (const item of closedItems) {\n    const t = item.json;\n    const closedDate = toETDate(t.closedDate);\n    if (closedDate && inWeek(closedDate, ws, we)) closed++;\n  }\n\n  // Kill Rate 7-day\n  const killRate7 = opened > 0 ? Math.round((closed / opened) * 10000) / 100 : 0;\n\n  // Kill Rate 14-day\n  let opened14 = opened, closed14 = closed;\n  if (wi > 0) {\n    const prevWs = weeks[wi - 1].weekStart;\n    const prevWe = weeks[wi - 1].weekEnd;\n    for (const item of allTickets) {\n      const entered = toETDate(item.json._info?.dateEntered || item.json.dateEntered);\n      if (entered && inWeek(entered, prevWs, prevWe)) opened14++;\n    }\n    for (const item of closedItems) {\n      const closedDate = toETDate(item.json.closedDate);\n      if (closedDate && inWeek(closedDate, prevWs, prevWe)) closed14++;\n    }\n  }\n  const killRate14 = opened14 > 0 ? Math.round((closed14 / opened14) * 10000) / 100 : 0;\n\n  // SLA % Met - 30-day rolling window\n  const weekEndDate = new Date(we + 'T23:59:59Z');\n  const thirtyDaysAgo = new Date(weekEndDate);\n  thirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n  const slaRangeStart = thirtyDaysAgo.toISOString().split('T')[0];\n\n  let slaMetCount = 0;\n  let slaTotalCount = 0;\n\n  // Check closed tickets in 30-day window\n  for (const item of closedItems) {\n    const t = item.json;\n    const closedDate = toETDate(t.closedDate);\n    if (closedDate && inRange(closedDate, slaRangeStart, we)) {\n      if (t.slaStatus) {\n        slaTotalCount++;\n        const breached = isSlaBreached(t.slaStatus, we);\n        if (!breached) slaMetCount++;\n      }\n    }\n  }\n\n  // Check open tickets created in 30-day window\n  for (const item of openItems) {\n    const t = item.json;\n    const entered = toETDate(t._info?.dateEntered || t.dateEntered);\n    if (entered && inRange(entered, slaRangeStart, we)) {\n      if (t.slaStatus) {\n        slaTotalCount++;\n        const breached = isSlaBreached(t.slaStatus, we);\n        if (!breached) slaMetCount++;\n      }\n    }\n  }\n\n  const slaPct = slaTotalCount > 0 ? Math.round((slaMetCount / slaTotalCount) * 10000) / 100 : 100;\n\n  // Time entries\n  let totalHours = 0, billableHours = 0;\n  for (const item of timeItems) {\n    const t = item.json;\n    const d = toETDate(t.timeStart || t.dateEntered);\n    if (d && inWeek(d, ws, we)) {\n      const hrs = parseFloat(t.actualHours) || 0;\n      totalHours += hrs;\n      if (t.billableOption === 'Billable') billableHours += hrs;\n    }\n  }\n\n  // Open tickets - current week only, filtered\n  let openCount = null;\n  if (isCurrentWeek) {\n    openCount = openItems.filter(i => {\n      const statusName = i.json.status?.name || '';\n      return !PARKED_STATUSES.includes(statusName);\n    }).length;\n  }\n\n  // ---- SALES ----\n  // Open opps - store for all weeks (current snapshot)\n  const openOppsCount = trueOpenOpps.length;\n  let openOppsRevenue = 0;\n  for (const item of trueOpenOpps) {\n    openOppsRevenue += parseFloat(item.json.totalSalesTax || 0);\n  }\n  openOppsRevenue = Math.round(openOppsRevenue * 100) / 100;\n\n  // Won/Closed this week - use _info.lastUpdated as approximation\n  let oppsClosed = 0, oppsWon = 0, wonRevenue = 0;\n\n  // Won opps - check lastUpdated in this week\n  for (const item of wonOpps) {\n    const updated = toETDate(item.json._info?.lastUpdated);\n    if (updated && inWeek(updated, ws, we)) {\n      oppsWon++;\n      wonRevenue += parseFloat(item.json.totalSalesTax || 0);\n    }\n  }\n\n  // All closed (won + lost + no decision) this week\n  for (const item of lostOpps) {\n    const updated = toETDate(item.json._info?.lastUpdated);\n    if (updated && inWeek(updated, ws, we)) {\n      oppsClosed++;\n    }\n  }\n  oppsClosed += oppsWon; // won is also closed\n\n  wonRevenue = Math.round(wonRevenue * 100) / 100;\n\n  // ---- PROJECTS ----\n  let openProjectCount = null, budgetedHours = 0, actualProjectHours = 0;\n  if (isCurrentWeek) {\n    openProjectCount = openProjects.filter(i => !i.json.closedFlag).length;\n    for (const item of openProjects) {\n      const p = item.json;\n      budgetedHours += parseFloat(p.estimatedHours || p.budgetHours || 0);\n      actualProjectHours += parseFloat(p.actualHours || 0);\n    }\n  }\n\n  rows.push({\n    weekStart: ws, opened, closed,\n    killRate7, killRate14, slaPct,\n    totalHours: Math.round(totalHours * 100) / 100,\n    billableHours: Math.round(billableHours * 100) / 100,\n    openCount,\n    oppsClosed, oppsWon, wonRevenue, openOppsCount, openOppsRevenue,\n    openProjectCount, budgetedHours, actualProjectHours\n  });\n}\n\n// Build SQL - use targeted deletes to preserve snapshot metrics (open_tickets, open_projects)\n// Only delete metrics we're about to fully rewrite (all 15 weeks)\nconst sqlParts = [\n  \"DELETE FROM scorecard_weekly WHERE section='customer_service' AND metric_name IN ('tickets_opened','tickets_closed','kill_rate_7d','kill_rate_14d','sla_pct_30d','total_hours','billable_hours')\",\n  \"DELETE FROM scorecard_weekly WHERE section='sales' AND metric_name IN ('opps_closed','opps_won','won_revenue','open_opportunities','open_opps_revenue')\",\n  \"DELETE FROM scorecard_weekly WHERE section='projects' AND metric_name IN ('budgeted_hours','actual_project_hours','open_projects')\",\n  // Clean up old metric names from previous versions (NOT open_tickets — that's snapshot data we preserve)\n  \"DELETE FROM scorecard_weekly WHERE metric_name IN ('kill_rate','sla_pct','opps_closed_won','sales_revenue')\"\n];\n\nfor (const r of rows) {\n  const metrics = [\n    ['customer_service', 'tickets_opened', r.opened],\n    ['customer_service', 'tickets_closed', r.closed],\n    ['customer_service', 'kill_rate_7d', r.killRate7],\n    ['customer_service', 'kill_rate_14d', r.killRate14],\n    ['customer_service', 'sla_pct_30d', r.slaPct],\n    ['customer_service', 'total_hours', r.totalHours],\n    ['customer_service', 'billable_hours', r.billableHours],\n    ['sales', 'opps_closed', r.oppsClosed],\n    ['sales', 'opps_won', r.oppsWon],\n    ['sales', 'won_revenue', r.wonRevenue]\n  ];\n\n  if (r.openCount !== null) metrics.push(['customer_service', 'open_tickets', r.openCount]);\n  metrics.push(['sales', 'open_opportunities', r.openOppsCount]);\n  metrics.push(['sales', 'open_opps_revenue', r.openOppsRevenue]);\n  if (r.openProjectCount !== null) metrics.push(['projects', 'open_projects', r.openProjectCount]);\n  if (r.budgetedHours > 0) metrics.push(['projects', 'budgeted_hours', r.budgetedHours]);\n  if (r.actualProjectHours > 0) metrics.push(['projects', 'actual_project_hours', r.actualProjectHours]);\n\n  for (const [section, name, val] of metrics) {\n    sqlParts.push(\n      \"INSERT INTO scorecard_weekly (week_start, section, metric_name, metric_value, updated_at) \" +\n      \"VALUES ('\" + r.weekStart + \"', '\" + section + \"', '\" + name + \"', \" + val + \", NOW()) \" +\n      \"ON CONFLICT (week_start, section, metric_name) DO UPDATE SET metric_value = \" + val + \", updated_at = NOW()\"\n    );\n  }\n}\n\n// Store opportunity details for drilldown\nsqlParts.push(\"DELETE FROM opportunity_details\");\nfor (const item of openOpps) {\n  const o = item.json;\n  const name = (o.name || '').replace(/'/g, \"''\");\n  const company = (o.company?.name || '').replace(/'/g, \"''\");\n  const contact = (o.contact?.name || '').replace(/'/g, \"''\");\n  const rep = (o.primarySalesRep?.name || '').replace(/'/g, \"''\");\n  const statusName = (o.status?.name || '').replace(/'/g, \"''\");\n  const stageName = (o.stage?.name || '').replace(/'/g, \"''\");\n  const typeName = (o.type?.name || '').replace(/'/g, \"''\");\n  const prob = (o.probability?.name || '').replace(/'/g, \"''\");\n  const expClose = o.expectedCloseDate ? \"'\" + o.expectedCloseDate.split('T')[0] + \"'\" : 'NULL';\n  const dateLead = o.dateBecameLead ? \"'\" + o.dateBecameLead + \"'\" : 'NULL';\n  const lastUpd = o._info?.lastUpdated ? \"'\" + o._info.lastUpdated + \"'\" : 'NULL';\n  const tax = parseFloat(o.totalSalesTax || 0);\n\n  sqlParts.push(\n    `INSERT INTO opportunity_details (id,name,status_name,company_name,contact_name,primary_rep,expected_close_date,date_became_lead,last_updated,total_sales_tax,probability,stage_name,type_name,updated_at) VALUES (${o.id},'${name}','${statusName}','${company}','${contact}','${rep}',${expClose},${dateLead},${lastUpd},${tax},'${prob}','${stageName}','${typeName}',NOW()) ON CONFLICT (id) DO UPDATE SET name=EXCLUDED.name,status_name=EXCLUDED.status_name,company_name=EXCLUDED.company_name,contact_name=EXCLUDED.contact_name,primary_rep=EXCLUDED.primary_rep,expected_close_date=EXCLUDED.expected_close_date,date_became_lead=EXCLUDED.date_became_lead,last_updated=EXCLUDED.last_updated,total_sales_tax=EXCLUDED.total_sales_tax,probability=EXCLUDED.probability,stage_name=EXCLUDED.stage_name,type_name=EXCLUDED.type_name,updated_at=NOW()`\n  );\n}\n\n// Store project details for drilldown\nsqlParts.push(\"DELETE FROM project_details\");\nfor (const item of openProjects) {\n  const p = item.json;\n  const name = (p.name || '').replace(/'/g, \"''\");\n  const company = (p.company?.name || '').replace(/'/g, \"''\");\n  const manager = (p.manager?.name || '').replace(/'/g, \"''\");\n  const statusName = (p.status?.name || '').replace(/'/g, \"''\");\n  const boardName = (p.board?.name || '').replace(/'/g, \"''\");\n  const budget = parseFloat(p.budgetHours || p.estimatedHours || 0);\n  const actual = parseFloat(p.actualHours || 0);\n  const estimated = parseFloat(p.estimatedHours || 0);\n\n  sqlParts.push(\n    `INSERT INTO project_details (id,name,status_name,company_name,manager_name,budgeted_hours,actual_hours,estimated_hours,board_name,updated_at) VALUES (${p.id},'${name}','${statusName}','${company}','${manager}',${budget},${actual},${estimated},'${boardName}',NOW()) ON CONFLICT (id) DO UPDATE SET name=EXCLUDED.name,status_name=EXCLUDED.status_name,company_name=EXCLUDED.company_name,manager_name=EXCLUDED.manager_name,budgeted_hours=EXCLUDED.budgeted_hours,actual_hours=EXCLUDED.actual_hours,estimated_hours=EXCLUDED.estimated_hours,board_name=EXCLUDED.board_name,updated_at=NOW()`\n  );\n}\n\nreturn [{ json: { sql: sqlParts.join(';\\n'), rowCount: rows.length,\n  debug: {\n    closedTickets: closedItems.length,\n    openTickets: openItems.length,\n    timeEntries: timeItems.length,\n    allOpps: openOpps.length,\n    wonOpps: wonOpps.length,\n    lostOpps: lostOpps.length,\n    trueOpen: trueOpenOpps.length,\n    slaBreachedOpen: openItems.filter(i => isSlaBreached(i.json.slaStatus, weeks[weeks.length-1].weekEnd)).length\n  },\n  lastWeek: rows[rows.length - 1] } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,300],"id":"fe647d57-8698-4c83-9b47-fce07212e17b","name":"Calculate Metrics"},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}"},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[300,300],"id":"c8c37d0d-e33b-4260-b389-81a867d33573","name":"Store in Postgres","credentials":{"postgres":{"id":"SIqzFDEp3auS50Lq","name":"Postgres account"}}},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"2"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,300],"id":"page-2-get-closed-tickets","name":"Get Closed Tickets P2","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"3"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,300],"id":"page-3-get-closed-tickets","name":"Get Closed Tickets P3","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"4"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,300],"id":"closed-p4","name":"Get Closed Tickets P4","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/service/tickets","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'closedFlag=true and closedDate>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"5"},{"name":"orderBy","value":"id desc"},{"name":"fields","value":"id,closedDate,slaStatus,respondMinutes,resolveMinutes,_info,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,300],"id":"closed-p5","name":"Get Closed Tickets P5","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"2"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,750],"id":"time-p2","name":"Get Time Entries P2","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"3"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,750],"id":"time-p3","name":"Get Time Entries P3","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"4"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-150,750],"id":"time-p4","name":"Get Time Entries P4","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,750],"id":"time-p5","name":"Get Time Entries P5","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"6"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[150,750],"id":"time-p6","name":"Get Time Entries P6","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"7"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,750],"id":"time-p7","name":"Get Time Entries P7","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/time/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"={{ 'timeStart>=[' + $('Set Date Ranges').first().json.weeks[0].weekStartISO + ']' }}"},{"name":"pageSize","value":"1000"},{"name":"page","value":"8"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,750],"id":"time-p8","name":"Get Time Entries P8","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/sales/opportunities","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"1000"},{"name":"page","value":"1"},{"name":"orderBy","value":"id desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,900],"id":"sales-open","name":"Get Open Opportunities","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/sales/opportunities","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"status/name='10-Won'"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,900],"id":"sales-closed","name":"Get Closed Opportunities","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true},{"parameters":{"url":"https://api-na.myconnectwise.net/v4_6_release/apis/3.0/project/projects","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"conditions","value":"status/name != 'Closed'"},{"name":"pageSize","value":"1000"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"clientId","value":"d0eb15de-c43c-4d2c-af2a-cdf4b1ac7f8b"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,1100],"id":"proj-open","name":"Get Open Projects","credentials":{"httpBasicAuth":{"id":"WM6mK7YSCdfd4PP4","name":"Connectwise API Httpauth"}},"executeOnce":true,"alwaysOutputData":true}],"connections":{"Daily 6AM":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Set Date Ranges","type":"main","index":0}]]},"Set Date Ranges":{"main":[[{"node":"Get Closed Tickets","type":"main","index":0}]]},"Get Closed Tickets":{"main":[[{"node":"Get Closed Tickets P2","type":"main","index":0}]]},"Get Closed Tickets P2":{"main":[[{"node":"Get Closed Tickets P3","type":"main","index":0}]]},"Get Closed Tickets P3":{"main":[[{"node":"Get Closed Tickets P4","type":"main","index":0}]]},"Get Closed Tickets P4":{"main":[[{"node":"Get Closed Tickets P5","type":"main","index":0}]]},"Get Closed Tickets P5":{"main":[[{"node":"Get Open Tickets","type":"main","index":0}]]},"Get Open Tickets":{"main":[[{"node":"Get Time Entries","type":"main","index":0}]]},"Get Time Entries":{"main":[[{"node":"Get Time Entries P2","type":"main","index":0}]]},"Get Time Entries P2":{"main":[[{"node":"Get Time Entries P3","type":"main","index":0}]]},"Get Time Entries P3":{"main":[[{"node":"Get Time Entries P4","type":"main","index":0}]]},"Calculate Metrics":{"main":[[{"node":"Store in Postgres","type":"main","index":0}]]},"Get Time Entries P4":{"main":[[{"node":"Get Time Entries P5","type":"main","index":0}]]},"Get Time Entries P5":{"main":[[{"node":"Get Time Entries P6","type":"main","index":0}]]},"Get Time Entries P6":{"main":[[{"node":"Get Time Entries P7","type":"main","index":0}]]},"Get Time Entries P7":{"main":[[{"node":"Get Time Entries P8","type":"main","index":0}]]},"Get Time Entries P8":{"main":[[{"node":"Get Open Opportunities","type":"main","index":0}]]},"Get Open Opportunities":{"main":[[{"node":"Get Closed Opportunities","type":"main","index":0}]]},"Get Closed Opportunities":{"main":[[{"node":"Get Open Projects","type":"main","index":0}]]},"Get Open Projects":{"main":[[{"node":"Calculate Metrics","type":"main","index":0}]]}},"authors":"Wayne LeDrew","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T12:15:09.266Z","id":160,"workflowId":"2jpjxYKlgLaToXPk","versionId":"1634e9e1-ca5a-4bbd-b499-a21239e48f6a","event":"activated","userId":"add78c42-cbae-4954-bf5a-7df7ba08b4c6"}]}}